.quoteContainer {
    height: 120px;
    padding: 20px;
    color: cornsilk;
}

.buttonContainer {
    display: inline-flex;
}

.btn {
    border-radius: 4px;
    border-style: solid;
    border-color: cornsilk;
    padding: 5px;
    margin: 5px;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    color: cornsilk;
}

.btn:hover {
    background-color: lavender;
    color: navy;
}